<section style="background-color: black;min-height:99vh; max-height: 100%; margin-top:-39px">
    <div class="container">
        <h1 class="ass-heading">Assignments</h1>
        <div class="col-md-12">
           <div class="row">
            {{#each assignments}}
            <div class="col-md-3" >
                <div class="ass-card">
                <div id="div{{this._id}}" class="ass-cardInner">
                   <div class="front-ass">
                        <h5>{{this.Name}}</h5>
                    <p>Date : {{this.Date}}</p>
                    <button onclick="view_assdetails('{{this._id}}')" class="btn btn-primary">More details</button>
                   </div>
                   <div id="back{{this._id}}" class="back-ass">
                       <h1 class="backload"><i class="fa fa-spinner fa-spin"></i></h1>
                    
                    </div>
                   </div>
                </div>
            </div>
            
             {{/each}}
        </div>
        </div>
    </div>
</section>