<section style="background: url(/images/std-homebg.jpg); background-size: cover; height:99vh; margin-top: -37px; ">
   <div class="std-homebg">
      <div class="paidStatus">
         <p>Payment Success</p>
      </div>
      <div onclick="openfee()" class="fees-div"> 
         <p>Pay fee</p>
         <div class="fees-methods1">
            <h6>25000</h6>
            <a href="/payfee-Paypal?amount=25000">Paypal</a>
            <a href="/payfee-Paytm?amount=25000">Paytm</a>
            <p onclick="payfee_razor('25000')">Razorpay</p>
         </div>


      </div>
      <div onclick="openhomeevnt()" class="home-evnt">
        <p>Events</p>
        <div  class="homeevnt-cntent1">
            <ul>
                 {{#each events}}
                  <li>
                     *<a href="/view-event?id={{this._id}}" style=" color:rgb(185, 32, 223);"> {{this.Event}} </a> {{#if this.Paid}}(Paid){{/if}} 
                  </li>
                 {{/each}}


              </ul>
        </div>
      </div>
       <div class="attendaceStatus" onclick="showAttstatus()">
          <p class="todayTasktext">Today's Attedance</p>
          <p class="todayTaskstatus1">{{#if todayStatus}}Present{{else}} <a href="/todayTask" style="color: blue;">Not Present {{/if}}</a> </p>
       </div>
       <div onclick="openAnn()" class="annbtn">
          <p>Announcements</p>
          <button   class="closeannbtn1"><i  class='fa fa-angle-double-up'></i></button>
          <div class="anncontnt1">
              <ul>
                  {{#each announcements}}
                  <li>
                     *<a href="/view-announcement?id={{this._id}}" style=" color:rgb(185, 32, 223);"> {{this.Message}}</a> 
                  </li>
                 {{/each}}


              </ul>

          </div>
       </div>
      <div class="chat-btn" onclick="showchat_box()">
         <h4>Chat-Box</h4>
      </div>
      <div class="chat-box1">
         <div class="chat-head"><h4>Chat-Box</h4> <button class="chat-close" onclick="hidechat_box()"><i class="fa fa-times-circle"></i></button></div>
         <div id="chat-body" class="chat-body">
               {{#each Messages}}
               {{#if this.Tutor}}
               <div class="message-r">
                     <p>{{this.Message}}</p>
               </div>
               {{else}}
               <div class="message-s">
                  <p>{{this.Message}}</p>
               </div>
               {{/if}}
              {{/each}}
         </div>
         <div class="chat-input">
            <input type="text" name="message" id="msg">
            <button onclick="stdsend_Message()" > <i class="fa fa-send"></i></button>
         </div>
      </div>
    

   </div>
</section>

<script>
   var socket = io.connect();
   socket.on('admmsg',(data)=>{
      console.log(data)
      document.getElementById('chat-body').innerHTML += `
      <div class="message-r">
                  <p>${data.Message}</p>
       </div>`
       var height = 0;
               $('#chat-body div').each(function(i, value){
                height += parseInt($(this).height());
                
                });
           
            height += '';
            
            $('#chat-body').animate({scrollTop: height*height});
            
   })
</script>