<section>
<div class="container">
<div class="taskbg">
    <h1>Today Tasks</h1>
     <div class="uploadedstatus1">Submited</div>
    {{#if assignment}}
    <div class="asstask">
        <h5>Assignment</h5>
        <div>
            <p>{{assignment.Name}}</p>
            <a href="/view-Assignment?id={{assignment._id}}" class="btn">View/Download</a>
            <form   id="taskForm" action="/submitAssignment" method="post" enctype="multipart/form-data">
                <input type="file" id="assFile" accept="application/pdf,application/vnd.ms-excel"  name="File">
                <input type="text" name="assId" value="{{assignment._id}}" hidden>
                <input type="text" name="Topicname" value="{{assignment.Name}}" hidden>
               <div class="progress1">
                <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">uploading..</div>
                    </div>
                   
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
    {{else}}
    <div class="asstask">
        <h5>Assignment</h5>
        <div>
            <p>No Assignments Today</p>
                        
        </div>
    </div>
    {{/if}}
   {{#if note}}
    <div class="notetask">
        <h5>Note</h5>
            <div>
                 <video src="/datas/notes/{{note._id}}.mp4" muted autoplay></video>
                 <p>{{note.Name}}</p>
                {{#if note.noPdf}} <a href="">No Pdf</a> {{else}}<a href="/viewNote?id={{note._id}}">pdf</a>{{/if}}
                {{#if note.video}}<a href="/viewVideo?id={{note._id}}" class="viewOrdwnload">View/Download</a>{{else}} <a href="" class="viewOrdwnload">No Video</a>{{/if}}
            </div>
    </div>
    {{else}}
        <div class="notetask">
        <h5>Note</h5>
            <div>
                 <p>No Notes Today</p>
            </div>
            </div>
  
    {{/if}}
</div>
</div>

</section>