<section>
    <div class="container">
        <div class="announcementBg">
            <h1>Announcements</h1>
        <div class="announcementform">
        <form action="/admin/uploadAnnouncement" method="post" enctype="multipart/form-data" id="announceForm">
            <input type="text" name="Message" placeholder="Message">
            <textarea name="Description" placeholder="Description" id="" cols="30" rows="5"></textarea>
            <label for="annVideo">
            Video
            </label>
            <input type="file" name="Video" accept="video/*" id="annVideo">
            <label for="annPdf">
                Pdf
            </label>
                <input type="file" name="Pdf" accept="application/pdf,application/vnd.ms-excel" id="annPdf">

            <label for="annImage">
                Image
            </label>
                <input type="file" name="Image" accept="image/x-png,image/gif,image/jpeg"  id="annImage">
            <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
        </div>
        <div class="annSection">
        <div class="col-md-12">
            <div class="row">
                {{#each announcements}}
                <div id="div{{this._id}}" class="col-md-4">
                    <div class="anncardBack">
                        
                        <div class="annInner">
                           
                            <div id="frnt{{this._id}}" class="annFront">
                               <button id="btn{{this._id}}" class="optionbtnAnn" ><i onclick="openOptions_ann('{{this._id}}')" class="fa fa-clone"></i></button>
                               <button id="btnc{{this._id}}"  class="optioncnlAnn1" onclick="cancelOption_ann('{{this._id}}')" > <i class="fa fa-close"></i></button>
                                <h4>{{this.Message}}</h4>
                                <p>{{this.Description}}</p>                                                          
                            </div>
                            <div class="annBack">
                               <br> {{#if this.Video}}<a href="/admin/viewAnnVideo?id={{this._id}}" style="text-decoration: none; color:whitesmoke">Video <i class="fa fa-play-circle-o"></i></a>{{else}}no Video{{/if}}<br><br>
                                {{#if this.Pdf}}<a href="/admin/viewAnnPdf?id={{this._id}}"style="text-decoration: none; color:whitesmoke">Pdf <i class="fa fa-file-pdf-o"></i></a>{{else}}no Pdf{{/if}}<br><br>
                                {{#if this.Image}}<a href="/admin/viewAnnImage?id={{this._id}}"style="text-decoration: none; color:whitesmoke">Image <i class="fa fa-file-image-o"></i></a>{{else}}no Images{{/if}}<br><br>
                                <button class="btn btn-danger" onclick="anndeleteCnfrm('{{this._id}}')">Delete</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {{/each}}
                 </div>  
        </div>
      
        </div>
        <div class="anndelete1">
                    Are you sure ?
                    <button onclick="delteAnn()" class="btn btn-success"> Yes</button> <button onclick="cncldelteAnn()" class="btn btn-danger">NO</button>
                </div>
        </div>
    </div>
</section>