<section>
    <div class="container">
        <div class="atdTablebg">
            <h1>Attendance</h1> <br>
            <input type="date" name="date" id="attendanceDate">

        <div class="attendanceTable">
            <h6 class="attdDate">Date:{{date}}</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Roll:No</th>
                        <th>Name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
             {{#if noClass}}
             <tbody>
                 <tr>
                     <td></td>
                     <td>No class</td>
                     <td></td>
                 </tr>
             </tbody>
             {{else}}
               <tbody>
                    {{#each students}}
                    {{#if this.Attendance}}
                    {{#Inn this.Attendance ../date}}
                    {{#if inn}}
                    {{#each ../this.Attendance}}
                    {{#iff this.Date ../../../date}}
                   
                    <tr>
                        <td>{{../../../this.Roll-No}}</td>
                        <td>{{../../../this.Name}}</td>
                        {{#if ../this.status}}<td>P</td>{{else}} <td>A</td>{{/if}}
                    </tr>
                   
                  
                    {{/iff}}
                    {{/each}}
                    {{else}}
                    <tr>
                        <td>{{../this.Roll-No}}</td>
                        <td>{{../this.Name}}</td>
                        <td>A</td>
                    </tr>
                    {{/if}}
                    {{/Inn}}
                    {{else}}
                    <tr>
                        <td>{{this.Roll-No}}</td>
                        <td>{{this.Name}}</td>
                        <td>A</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody> 
              {{/if}}
            </table>
        </div>
    </div>
    </div>
</section>