<section>
    <div class="container">
           <div class="adchat-box">
               <h2>Chat-Box</h2>
               <div class="studentchat-list">
                   {{#each students}}
                   {{#if ../newMsgId}}
                   {{#ifId ../newMsgId this._id}}
                   {{#if status}}
                   <div style="border-bottom: 2px solid red;" id="std{{../this._id}}" onclick="show_stdmsg('{{../this._id}}')" class="chat-user">
                       <h4>{{../this.Name}}</h4>
                   </div>
                  {{else}}
                   <div id="std{{../this._id}}" onclick="show_stdmsg('{{../this._id}}')" class="chat-user">
                       <h4>{{../this.Name}}</h4>
                   </div>
                   {{/if}}
                   {{/ifId}}
                   {{else}}
                   <div id="std{{this._id}}" onclick="show_stdmsg('{{this._id}}')" class="chat-user">
                       <h4>{{this.Name}}</h4>
                   </div>
                   {{/if}}
                   {{/each}}
               </div>
               <p  class="selctmsg">Select message</p>
               <div  class="studentchat-message1">

                   <div id="msg-head" class="message-head">
                        

                   </div>
                   <div id="msg-body" class="message-body">
                       <div class="loadingmsg"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
                       
                     

                   </div>
                   <div class="messge-input">
                       <input id="adminmsg" type="text" name="message" >
                       <button onclick="sendMessage_admin()"><i class="fa fa-send"></i></button>
                   </div>
               </div>
           </div> 
    </div>
</section>
<script>
    var socket = io.connect();
socket.on('stdmsg',(data)=>{
    $('.adnewmsg1').addClass('adnewmsg').removeClass('adnewmsg1')
   $.ajax({
       url:'/admin/verifySelectedstd',
       method:'post',
       data:{
           Id:data.Id
       },success:(res)=>{
           if(res.status){
               document.getElementById('msg-body').innerHTML += `
   <div class="admsg-r">
               <p>${data.data.Message}</p>
               <i>${data.data.Time}</i>
    </div>`
    var height = 0;
            $('#msg-body div').each(function(i, value){
             height += parseInt($(this).height());
             
             });
        
         height += '';
         
         $('#msg-body').animate({scrollTop: height*height});
   
    }else{
        let div = document.querySelector('#std'+data.Id)
        div.style = 'border-bottom:2px solid red;'
    }

           }
       })
   })
   
     
</script>