<section style="background-color: black ; height: 91vh; margin-top: -40px;">
<div class="container">
    <div class="assignmentbg">
    <div class="assignmentForm">       
<form  id="notesupload" method="POST" action="/admin/notes" enctype="multipart/form-data">
<h3>Add New </h3>
<input type="text" name="Name" placeholder="Topic Name"><br>
<input type="file" name="File" id="File"><br>
<button type="submit" id="uploadbtn">upload</button>
</form>
</div>
<div class="assignmentTable">
    <h4>Notes</h4>
<table class="table">
<thead>
    <tr>
        <th>Topic</th>
        <th>File</th>
        <th>Option</th>
    </tr>
</thead>
<tBody>
    {{#each notes}}
    <tr id="tr{{this._id}}">
        <td>{{this.Name}}</td>
        <td><a href="/admin/view-Notes?id={{this._id}}">{{this.fileName}}</a></td>
        <td class="assgnmtTable"><button onclick="deleteNotecnfrm('{{this._id}}')" class="btn-danger"><i  class="fa fa-trash"></i></button></td>
    <div class="deleteassignmentcnfrm1">
        <h3>Delete this Topic</h3>
        <button onclick="deleteNote()" class="btn btn-success">Yes</button> <a class="btn btn-danger" href="/admin/notes"> No</a>
    </div>
    </tr>
    {{/each}}
</tBody>
</table>
</div>
   
</div>
</div>



</section>