<section style="background-color: rgb(8, 180, 157); height: 100vh; margin-top:-40px;">
    <div class="container">
     <div class="studentstablebg">
         <table class="table">
             <thead>
                 <span class="studentremovedalert1"> Student Removed <i onclick="removespan()" class="fa fa-close"></i></span>
                 <tr>
                <th>Roll-NO</th>
                <th>Name</th>
                <th>Action</th> 
                <a class="btn btn-primary float-right" style="margin-right: 10px;" href="/admin/addstudent">Add Student</a>
                </tr>
             </thead>
             <tbody>
                 {{#each students}}
                 <tr id="tr{{this._id}}">
                 <td>{{this.Roll-No}}</td>
                 <td><a href="/admin/viewStudent?id={{this._id}}">{{this.Name}}</a></td>
                 <td class="stdntactn"><a href="/admin/editstudent?id={{this._id}}" class="btn-primary"><i class="fa fa-edit"></i></a><button onclick="deleteStudentconfrm('{{this._id}}')" class="btn-danger"> <i class="fa fa-trash"></i></button></td>
                <div class="deltestudentcnfrm1">
                   <h3> Are you sure to <h2>Delete</h2></h3>
                   <button onclick="deltStudent()">Yes</button> <a class="btn btn-danger" href="/admin/students">No</a>
                </div>
                </tr>
                {{/each}}
             </tbody>
         </table>
     </div>
    </div>
</section>



